<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.spring_boot_mybatis_dynamic_ds.mapper.TestJsonMapper">

    <resultMap id="base" type="com.cz.spring_boot_mybatis_dynamic_ds.entity.TestJson">
        <id column="id" property="id"/>
        <result property="jsonString" column="json_string" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="jsonObj" column="json_obj" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>
    <select id="selectById11" parameterType="int" resultMap="base">
        select * from test_json where id = #{id}
    </select>
</mapper>
